* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

textarea{
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #3b8c96;
    outline: none;
    height: 100px;
    resize: none;
}


button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #c4dfe6;
}

.logout:hover {
    color: #ffffff;
}

.signform{
    height: max-content;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 50px 20px 70px 20px;
    border-radius: 20px;
    box-shadow: 12px 12px #94c9d0;
}

.signform input{
    border-color: #94c9d0;
    border-radius: 5px;
}

.signform button{
    border-radius: 5px;
}

.logo{
    text-align: left;
    top: 10px;
    right: 100px;
}

header {
    text-align: justify;
    height: 6em;
    padding: 1em 11%;
    font-weight: bold;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header > div,
header > div::before,
header nav,
header > div img {
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
}

header > div {
    height: 100%;
}

header > div::before {
    content: '';
    height: 100%;
}

header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
    font-size: 1.2em;
    color: #66a5ad;
}

header nav a:last-child {
    padding-right: 0;
}

@media screen and (max-width: 720px){

    header {
        height: auto;
    }

    header > div,
    header > div img,
    header nav {
        height: auto;
        width: auto;
        display: block;
        align-content: center;
    }

}

.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
}

.user_info{
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
    font-family: Montserrat, sans-serif;
    position: relative;
    left: 0;
    top: 0;
    height: 430px;
}

.avatar{
    display: flex;
    align-items: start;
    position: relative;
    left: 200px;
    top: 80px;
}

.avatar img{
    box-shadow: 12px 12px #66a5ad;
}

.user_name{
    display: flex;
    align-items: start;
    position: relative;
    left: 260px;
    top: 85px;
    color: #c4dfe6;
    font-size: 1.75rem;
    font-weight: unset;
}

.u_button{
    display: flex;
    align-items: start;
    position: absolute;
    right: 245px;
    top: 90px;
}

.user_button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #3b8c96;
    color: #c4dfe6;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: bold;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.user_button:hover {
    color: #ffffff;
}

.user_button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #66a5ad;
}

.hr-line {
    display: flex;
    align-items: start;
    position: absolute;
    left: 486px;
    top: 130px;
    margin: 20px 0;
    padding: 0;
    height: 0;
    width: 1170px;
    border: none;
    border-top: 2px solid #66a5ad;
}

.lk_lesson{
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
    position: relative;
    left: 0;
    top: 0;
    height: 630px;
    flex-direction: column;
}

.lesson_list{
    display: flex;
    position: relative;
    left: 460px;
    top: 40px;
    border-radius: 10px;
    background-color: #377e84;
    width: 620px;
    height: 55px;
    align-items: start;
    justify-content: start;
    color: #c4dfe6;
    padding: 13px;
    margin: 30px;
    box-shadow: 12px 12px #66a5ad;

}

.les_desc{
    display: flex;
    position: relative;
    top: 50px;
    border-radius: 10px;
    background-color: #377e84;
    width: 510px;
    align-items: start;
    justify-content: center;
    color: #c4dfe6;
    padding: 13px;
    margin: 30px;
    box-shadow: 12px 12px #66a5ad;
    left: 350px;
    height: 600px;
}

.les_desc h2{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.8em;
    margin: 30px;
}

.les_desc h3{
    text-align:center;
    position: absolute;
    top: 120px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    font-size: 1em;
    font-weight: normal;
/*    left: 15px;*/
    margin: 20px;
    line-height: 1.5;
    /*    overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;*/
}

.les_desc .sub_but{
    border-radius: 5px;
    color: #66a5ad;
    padding: 0;
    line-height: 40px;
    width: calc(100% - 45px);
    margin: auto;
    display: block;
    border: 2px solid #66a5ad;
    font-weight: bold;
    background-color: transparent;
    font-size: 2ex;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.lesson_list h2{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lesson_list h3{
    position: absolute;
    top: 70px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 1em;
    font-weight: normal;
    /*    overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;*/
}

.settings_style{

}

.settings_style .lesson_list:hover {
    color: #ffffff;
}

.urok{
    display: flex;
    align-items: start;
    position: absolute;
    left: 210px;
    top: 70px;
    color: #377e84;
}

.but_class{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
}

.l_button{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    left: 480px;
    top: 40px;
}

.lesson_button{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #3b8c96;
    color: #c4dfe6;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 30px;
    width: 200px;
    height:55px;
}

.l_button .rating-result{
    text-align: center;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #3b8c96;
    color: #c4dfe6;
    padding: 15px 20px;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 30px;
    width: 200px;
    height: 55px;
    position: relative;
    left: 0;
}

.l_button .rating-result span {
    padding: 0;
    font-size: 23px;
    margin: 0 3px;
    line-height: 1;
    color: #66a5ad;
    text-shadow: 1px 1px #07575b;
}
.l_button .rating-result > span:before {
    content: '★';
}
.l_button .rating-result > span.active {
    color: #e3e3e3;
    text-shadow: 1px 1px #07575b;
}

.lesson_button:hover {
    color: #ffffff;
}

.lesson_button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #66a5ad;
}

.set_form{
    height: max-content;
    display: flex;
    width: max-content;
    align-items: start;
    position: fixed;
    left: 450px;
    top: 100px;
    /*margin: auto;*/
    color: #07575b;
/*    padding: 50px 20px 70px 20px;
    border-radius: 20px;
    box-shadow: 12px 12px #94c9d0;*/
}

.set_form input{
    border-color: #3b8c96;
    border-radius: 5px;
}

.down_av .form-group {
    padding: 1em;
    margin: 1em
}

.down_av input[type=file] {
    outline: 0;
    opacity: 0;
    position: absolute;
    width: 225px;
    height: 205px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    z-index:2;
    /*pointer-events: none;
    user-select: none;*/
}

.down_av .label {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 225px;
    height: 225px;
    border: 2px dashed #377e84;
    border-radius: 20px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    top: 176px;
    left: 200px;
    font-size: 2ex;
    font-weight: bold;
}

.down_av .label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px
}

.down_av .label i, .down_av .label .title {
    color: #377e84;
    transition: 200ms color;
    position: relative;
    top: 20%;
    z-index:1;
}

.down_av .label:hover {
    border: 2px solid #00272e
}

.down_av .label:hover i, .down_av .label:hover .title {
    color: #00272e
}

.sub_but {
    border-radius: 5px;
    color: #377e84;
    padding: 0;
    line-height: 40px;
    width: 500px;
    margin: auto;
    display: block;
    border: 2px solid #377e84;
    font-weight: bold;
    background-color: transparent;
    font-size: 2ex;
}

.sub_but:hover, .sub_but:focus {
    color: #00272e;
    border-color: #00272e
}

.user_button i{
    position: relative;
    font-size: 27px;
    /*padding: 6px 3px;*/
   /* left: 4px;*/
    top: 4px;
}

.user_button title{
    position: relative;
}

.arrow-6 {
    position: absolute;
    margin:20px;
    right: 25%;
    top: 40%;
}
.arrow-6 svg {
    width: 100px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
    position: relative;
}
.arrow-6 svg polygon,
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #66a5ad;
}
.arrow-6 svg:hover polygon,
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #377e84;
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.arrow-3 {
    color: #07575b;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    margin: 20px;
    /*font-weight: bold;*/
    font-family: Verdana, sans-serif;
}
.arrow-3 .arrow-3-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;

}
.arrow-3 .arrow-3-iconcircle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.arrow-3:hover .arrow-3-icon {
    transform: translate3d(5px, 0, 0);
}
.arrow-3:hover .arrow-3-iconcircle {
    stroke-dashoffset: 0;
}

.les_info{
    /*background-color: antiquewhite;*/
    position: relative;
    top: 200px;
    height: max-content;
    display: flex;
    flex-direction: row;
}

.les_info .theory{
    position: relative;
    top:50px;
    left:215px;
    width: 725px;
    height: max-content;
    color: #07575b;
    line-height: 1.5;
}

.les_info .progress{
    display: flex;
    flex-direction: column;
    position: relative;
    width: max-content;
    top: 50px;
    left: 500px;
    align-items: center;
    justify-content: start;
}

.les_info .progress .all{
    position: relative;
    width: 450px;
    height: 40px;
    background-color: #94c9d0;
    border-radius: 15px;
}

.les_info .progress .fill{
    position: absolute;
    left: 0px;
    width: 0px;
    height: 40px;
    background-color: #66a5ad;
    border-radius: 15px;
    z-index: 1;
}

.les_options{
    position: absolute;
    top: 400px;
    left: 210px;
    height: max-content;
    width:calc(100% - 412px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-container .radio-btn input:checked + label{
    background-color: #07575b;
    color: #e3e3e3;
}

.radio-container{
    /*display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: sans-serif;*/
    position: absolute;
    top: 20px;
    left: 210px;
    height: max-content;
    width:calc(100% - 412px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-container *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.radio-container .radio-btn{
    overflow: hidden;
}
.radio-container .radio-btn.nth-2{
    width: 700px;
    height: 70px;
    margin: 20px 30px;
    border-radius: 10px;
    background-color: #66a5ad;
    color: #c4dfe6;
    font-weight: bold;
    font-size: 2.5ex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-container .radio-btn label{
    background-color: #66a5ad;
    display: block;
    padding: 6px 6px;
    text-align: center;
    color: #c4dfe6;
    /*border-top: 1px solid #b4b5b9;
    border-bottom: 1px solid #b4b5b9;
    border-right: 1px solid #b4b5b9;*/
}
.radio-container .radio-btn input{display: none;}
.radio-container .radio-btn input:checked + label{
    padding: 6px 6px;
    text-align: center;
    width:700px;
    height: 70px;
    background-color: #3b8c96;
    color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t_f_msg{
    background-color: #94c9d0;
    color: #07575b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4ex;
    width: 1495px;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    border: 2px solid #20996d;
    border-radius: 20px;
    padding: 15px;
}

.results{
    /*background-color: antiquewhite;*/
    position: relative;
    top: 200px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.results .les_end{
    display: flex;
    flex-direction: row;
    position: relative;
    top:50px;
    left:215px;
    width: 725px;
    height: max-content;
    color: #07575b;
    line-height: 1.5;
    font-size: 3ex;
}

.results .les_end h2{
    width: 500px;
}

.results .res_points{
    position: relative;
    top:100px;
    left:215px;
    width: 725px;
    height: max-content;
    color: #07575b;
    line-height: 1.5;
    font-size: 3ex;
}

.rating-result {
    position: relative;
    top:0;
    left:65px;
    width: 725px;
    height: max-content;
    /*margin: 0 auto;*/
}
.rating-result span {
    padding: 0;
    font-size: 52px;
    margin: 0 3px;
    line-height: 1;
    color: #94c9d0;
    text-shadow: 1px 1px #07575b;
}
.rating-result > span:before {
    content: '★';
}
.rating-result > span.active {
    color: #377e84;
    text-shadow: 1px 1px #07575b;
}

.results .next_les{
    position: relative;
    left: 195px;
    top: 140px;
}

.statistics{
    position: absolute;
    height: max-content;
    display: flex;
    flex-direction: row;
    top: 180px;
    left: 485px;
}

.statistics .stat_div{
    height: 125px;
    width: 320px;
    background-color: #3b8c96;
    box-shadow: 12px 12px #66a5ad;
    margin-right: 100px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.statistics .stat_div h1{
    font-size: 5ex;
    font-weight: bold;
    color: #e3e3e3;
    margin: 12px;
}

.statistics .stat_div h4{
    font-size: 3ex;
    font-weight: bold;
    color: #94c9d0;
}

.mainpage{
    position: absolute;
    height: max-content;
    display: flex;
    flex-direction: row;
}

.mainpage .annotation{
    position: relative;
    color: #07575b;
    width: 900px;
    left: 230px;
    top: 80px;
}

.mainpage .rating{
    top: 40px;
    position: relative;
    height: 685px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #3b8c96;
    border-radius: 15px;
    left: 400px;
}

.rating_h1{
    position: relative;
    margin: 20px;
    width: 360px;
    height: 50px;
    background-color: #94c9d0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #07575b;
    font-size: 3ex;
    border-radius: 15px;
    padding: 10px 0;
}

.element::-webkit-scrollbar {
    /*width: 10px;*/
    background-color: #f9f9fd;
}

.element::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #377e84;
}

.element::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

